apiVersion: deploy.codearts.crossplane.io/v1alpha1
kind: Application
metadata:
  name: example-application-container
spec:
  forProvider:
    region: cn-north-7
    projectIdRef:
      name: example-project
    name: example-application-container
    description: "Example Application Deploying Examples"
    deploymentType: container
    isFavorite: true

    appLevelVariables:
      variables:
        - name: db_password
          valueSecretRef:
            name: db-creds
            key: db-password
            namespace: default
          description: private value obtained from secret
          isSecurity: true
          isDynamic: false
          type: String
        - name: sleep_time
          value: "10"
          description: this parameter is configurable each deployment
          isSecurity: false
          isDynamic: true
          type: Integer

    envLevelVariables:
      - envIdRef:
          name: example-environment-type-container
        variables:
          - name: prod_parameter
            value: "10"
            description: this parameter is used in deployment jobs running on production environment
            type: Integer
---
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  db-password: "123456"